/* .App {
  font-family: sans-serif;
  text-align: left;
} */

/* body {
  background-color: #ffd54f;
} */

.container {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.count-down2 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}
